{% extends 'base.html' %}
{% block head_title %}{% endblock head_title %}
{% block site_content %}
<div id='site_content'>
    <div id='content_header_container'>
        <div id='content_header_label'>
            Data Entry Test
        </div>
        <div id='content_header_cookie_id_container'>
            Cookie ID:
            <input id='cookie_name' type='text' value='FREAC_JSON_Cookie'></input>
        </div>
        <div class='clear'></div>
    </div>
    <div id='content_progress_bar_container'>
        <div id='content_progress_bar_one'
            class='progress_bar_base_style progress_bar_active'>
            Step 1
        </div>
        <div id='content_progress_bar_two'
            class='progress_bar_base_style progress_bar_inactive'>
            Step 2
        </div>
        <div id='content_progress_bar_three'
            class='progress_bar_base_style progress_bar_inactive'>
            Step 3
        </div>
        <div id='content_progress_bar_four'
            class='progress_bar_base_style progress_bar_inactive'>
            Step 4
        </div>
        <div id='content_progress_bar_five'
            class='progress_bar_base_style progress_bar_inactive'>
            Step 5
        </div>
        <div class='clear'></div>
    </div>
    <div id='content_nav_back'
        class='content_nav_base_style content_nav_base_inactive'>«</div>
    <div id='content_container'>
        <div id='content_step_one_container'
            class='content_step_scheme content_step_active'>
            <div id='content_step_one_question_one_container'
                class='content_step_question_container_scheme'>
                <div id='content_step_one_question_one_label'
                    class='content_step_question_label_scheme'>
                    Question One: Single Select Category
                </div>
                <div id='content_step_one_question_one_content'
                    class='content_step_question_content_scheme'>
                    <select id='content_step_one_question_one'
                        class='content_step_question_select_scheme'>
                        <option value='mainCategoryOne'>Main Category One</option>
                        <option value='mainCategoryTwo'>Main Category Two</option>
                        <option value='mainCategoryThree'>Main Category Three</option>
                    </select>
                </div>
                <div class='clear'></div>
            </div>
            <div id='content_step_one_question_two_container'
                class='content_step_question_container_scheme'>
                <div id='content_step_one_question_two_label'
                    class='content_step_question_label_scheme'>
                    Question Two: Category Specific Single Select Sub-Category
                </div>
                <div id='content_step_one_question_two_content'
                    class='content_step_question_content_scheme'>
                    <select id='content_step_one_question_two'
                        class='content_step_question_select_scheme'>
                    </select>
                </div>
                <div class='clear'></div>
            </div>
            <div id='content_step_one_question_three_container'
                class='content_step_question_container_scheme'>
                <div id='content_step_one_question_three_label'
                    class='content_step_question_label_scheme'>
                    Question Three: Multi Checkbox
                </div>
                <div id='content_step_one_question_three_content'
                    class='content_step_question_content_scheme'>
                    <div id='content_step_one_question_three_box_one_container'>
                        <div id='content_step_one_question_three_box_one_label'>
                            Q3) Checkbox None:
                        </div>
                        <div id='content_step_one_question_three_box_one_content'>
                            <input id='content_step_one_question_three_box_one' type='checkbox'></input>
                        </div>
                        <div class='clear'></div>
                    </div>
                    <div id='content_step_one_question_three_box_two_container'>
                        <div id='content_step_one_question_three_box_two_label'>
                            Q3) Checkbox Option One:
                        </div>
                        <div id='content_step_one_question_three_box_two_content'>
                            <input id='content_step_one_question_three_box_two' type='checkbox'></input>
                        </div>
                        <div class='clear'></div>
                    </div>
                    <div id='content_step_one_question_three_box_three_container'>
                        <div id='content_step_one_question_three_box_three_label'>
                            Q3) Checkbox Option Two:
                        </div>
                        <div id='content_step_one_question_three_box_three_content'>
                            <input id='content_step_one_question_three_box_three' type='checkbox'></input>
                        </div>
                        <div class='clear'></div>
                    </div>
                </div>
                <div class='clear'></div>
            </div>
        </div>
        <div id='content_step_two_container'
            class='content_step_scheme content_step_inactive'>
            <div id='content_step_two_scientific_name_container'
                class='content_step_question_container_scheme'>
                <div id='content_step_two_scientific_name_label'
                    class='content_step_question_label_scheme'>
                    Scientific Name:
                </div>
                <div id='content_step_two_scientific_name_content'
                    class='content_step_question_content_scheme'>
                    <select id='content_step_two_scientific_name'
                        class='content_step_question_select_scheme'>
                        <option value='scientificNameOne'>Scientific Name One</option>
                        <option value='scientificNameTwo'>Scientific Name Two</option>
                        <option value='scientificNameThree'>Scientific Name Three</option>
                        <option value='scientificNameFour'>Scientific Name Four</option>
                        <option value='scientificNameFive'>Scientific Name Five</option>
                    </select>
                </div>
                <div class='clear'></div>
            </div>
            <div id='content_step_two_common_name_container'
                class='content_step_question_container_scheme'>
                <div id='content_step_two_common_name_label'
                    class='content_step_question_label_scheme'>
                    Common Name(s):
                </div>
                <div id='content_step_two_common_name_content'
                    class='content_step_question_content_scheme'>
                    <select id='content_step_two_common_name'
                        class='content_step_question_select_scheme'>
                        <option value='commonNameOne'>Common Name One</option>
                        <option value='commonNameTwo'>Common Name Two</option>
                        <option value='commonNameThree'>Common Name Three</option>
                        <option value='commonNameFour'>Common Name Four</option>
                        <option value='commonNameFive'>Common Name Five</option>
                    </select>
                </div>
                <div class='clear'></div>
            </div>
            <div id='content_step_two_scale_container'
                class='content_step_question_container_scheme'>
                <div id='content_step_two_scale_label'
                    class='content_step_question_label_scheme'>
                    Scale (See Figure 1, Page 2):
                </div>
                <div id='content_step_two_scale_content'
                    class='content_step_question_content_scheme'>
                    <input id='content_step_two_scale'
                        class='content_step_question_text_input_scheme' type='text'></input>
                </div>
                <div class='clear'></div>
            </div>
            <div id='content_step_two_weed_management_area_container'
                class='content_step_question_container_scheme'>
                <div id='content_step_two_weed_management_area_label'
                    class='content_step_question_label_scheme'>
                    Weed management area:
                </div>
                <div id='content_step_two_weed_management_area_content'
                    class='content_step_question_content_scheme'>
                    <input id='content_step_two_weed_management_area'
                        class='content_step_question_text_input_scheme' type='text'></input>
                </div>
                <div class='clear'></div>
            </div>
            <div id='content_step_two_conservation_target_impacted_container'
                class='content_step_question_container_scheme'>
                <div id='content_step_two_conservation_target_impacted_label'
                    class='content_step_question_label_scheme'>
                    Conservation target impacted:
                </div>
                <div id='content_step_two_conservation_target_impacted_content'
                    class='content_step_question_content_scheme'>
                    <input id='content_step_two_conservation_target_impacted'
                        class='content_step_question_text_input_scheme' type='text'></input>
                </div>
                <div class='clear'></div>
            </div>
            <div id='content_step_two_project_area_name_and_size_container'
                class='content_step_question_container_scheme'>
                <div id='content_step_two_project_area_name_and_size_label'
                    class='content_step_question_label_scheme'>
                    Project area (site) name and size:
                </div>
                <div id='content_step_two_project_area_name_and_size_content'
                    class='content_step_question_content_scheme'>
                    <input id='content_step_two_project_area_name_and_size'
                        class='content_step_question_text_input_scheme' type='text'></input>
                </div>
                <div class='clear'></div>
            </div>
            <div id='content_step_two_property_owner_container'
                class='content_step_question_container_scheme'>
                <div id='content_step_two_property_owner_label'
                    class='content_step_question_label_scheme'>
                    Property owner(s):
                </div>
                <div id='content_step_two_property_owner_content'
                    class='content_step_question_content_scheme'>
                    <input id='content_step_two_property_owner'
                        class='content_step_question_text_input_scheme' type='text'></input>
                </div>
                <div class='clear'></div>
            </div>
            
        </div>
    </div>
    <div id='content_nav_forward'
        class='content_nav_base_style content_nav_base_inactive'>»</div>
    <div class='clear'></div>
</div>
{% endblock site_content %}
